.searchbar {
    width: 300px;
    border-radius: 25px;
    padding-left: 15px;
}
.header {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.logo {
    display: flex;
    min-width: 100%;
    justify-content: center ;
}
.logo img {
    width: 250px;
}
.registration {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

